@define-color base00 #2e3440;  /* nord0 */
@define-color base01 #3b4252;  /* nord1 */
@define-color base02 #434c5e;  /* nord2 */
@define-color base03 #4c566a;  /* nord3 */
@define-color base04 #d8dee9;  /* nord4 */
@define-color base05 #e5e9f0;  /* nord5 */
@define-color base06 #eceff4;  /* nord6 */
@define-color base07 #8fbcbb;  /* nord7 */

@define-color red       #bf616a;  /* nord11 */
@define-color peach     #d08770;  /* nord12 */
@define-color yellow    #ebcb8b;  /* nord13 */
@define-color green     #a3be8c;  /* nord14 */
@define-color teal      #88c0d0;  /* nord9 */
@define-color blue      #81a1c1;  /* nord10 */
@define-color mauve     #b48ead;  /* nord15 */
@define-color flamingo  #5e81ac;  /* nord8 */

@define-color fg        @base04;
@define-color bg        @base00;
@define-color accent    @blue;

* {
    font-family: "Inter", "JetBrains Mono NF";
    font-size: 15px;
    font-weight: 600;
    color: @fg;
    text-shadow: none;
}

#waybar {
    background-color: transparent;
}

.modules-left, .modules-center, .modules-right {
    background-color: alpha(@bg, 0.7); /* base00 with opacity */
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    box-shadow: none;
    transition: all .4s ease;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

tooltip {
    border-radius: 10px;
    background-color: rgba(24, 24, 37, 0.9); /* base01 with opacity */
    border: solid 2px @accent;
}

#custom-apple {
    margin-left: 5px;
    font-size: 20px;
    color: @blue;
}

#workspaces {
    margin: 0 3px 0px 3px;
    background-color: transparent;
    border-radius: 0px 0px 15px 15px;
}

#workspaces button {
    font-size: 5px;
    border-radius: 8px;
    padding: 0px;
    padding-right: 4px;
    background-image: none;
    transition: all .4s ease;
}

#workspaces button * {
    transition: all .3s ease;
    border: solid 0px transparent;
    box-shadow: transparent;
    outline: transparent;
}

#workspaces button.empty * {
    color: alpha(#000000, 0.3);
}

#workspaces button.active * {
    color: @blue;
}

#workspaces button:hover * {
    color: @peach;
}

#workspaces button:hover {
}

#tray {
    margin: 0px 2px;
    border-radius: 0px;
}

#tray menu {
    background-color: rgba(255, 222, 222, 0.7);
}

#tray * {
    padding: 0 6px;
    color: @peach;
}

#mode,
#battery,
#cpu,
#network,
#memory,
#custom-spotlight,
#bluetooth,
#pulseaudio,
#backlight,
#clock {
    margin: 0px 2px;
    padding: 0px 6px;
    border-radius: 20px;
    background-color: transparent;
}

#clock {
    margin-left: 5px;
    margin-right: 5px;
}

#cpu, #memory, #bluetooth, #network, #custom-spotlight {
    color: @blue;
    transition: all .4s ease;
}

#clock:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#custom-finder:hover,
#custom-spotlight:hover {
    color: @peach;
}

#battery {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @fg;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging.full {
    color: @peach;
}

@keyframes blink {
    to {
        color: @fg;
    }
}

#custom-cava {
    margin: 0px 10px;
}
