* {
    color: #ebdbb2;
    font-size: 16px;
    font-family: "Inter"
}

window {
    padding: 20px;
    border-radius: 0px;
    background-color: alpha(#181818, 1);
    border: solid 5px #d3869b;
    box-shadow: 0px 0px 0px 0px #181818;
}

#input {
    margin: 25px;
    border-radius: 15px;
    background-color: alpha(#181818, 0.5);
    border: solid 0px #282828;
    color: #ebdbb2;
}

image {
    color: #282828;
}

#input:focus {
    box-shadow: none;
}

#entry {
    margin: 0px 25px 16px 0px;
    border-radius: 0px;
}

#entry:selected {
    background-color: alpha(#181818, 0.2);
    border: none;
    border-radius: 15px;
    margin-left: 25px;
}

#entry:selected #text {
    color: #ebdbb2;
}

#entry:focus, #entry:active {
    box-shadow: none;
    outline: none;
    border: none;
}

*:focus, *:active {
    color: inherit;
}

#unselected {
    margin-left: 30px;
}


scrollbar {
    opacity: 0;
    min-width: 0px;
    min-height: 0px;
}
