* {
    color: #f2f4f8;       /* base05 */
    font-size: 16px;
    font-family: "Inter", "JetBrainsMono NF";
}

window {
    padding: 20px;
    border-radius: 15px;
    background-color: alpha(black, 0.5);  /* base00 with 50% opacity */
    border: solid 2px white;    /* purple accent border */
}

#input {
    margin: 25px;
    border-radius: 15px;
    background-color: alpha(black, 0.2);    /* base01 */
    border: solid 2px white;    /* purple accent */
    color: #f2f4f8;               /* base05 */
}

#input:focus {
    box-shadow: none;
    border: solid 2px #78a9ff;    /* blue for focus state */
}

#entry {
    margin: 0px 25px 16px 25px;
    border-radius: 15px;
}

#entry:selected {
    background-color: transparent;
    border: none;
    margin-left: 55px;
    outline: none;
}

#entry:selected #text {
    color: #be95ff;               /* purple accent text */
    font-weight: bold;
}

#unselected {
    margin-left: 30px;
    color: #525252;               /* base03 (muted) */
}

scrollbar {
    opacity: 0;
}
